* {
	border: 0;
	margin: 0;
}
body {
	font: 12px/12px helvetica;
}
.wrapper {
	width: 320px;
	position: relative;
	height: 460px;
	overflow: hidden;
}
.sliding {
	position: absolute;
	top: 0;
	left: 0;
	width: 650px;
	height: 460px;
}
.card {
	width: 320px;
	height: 460px;
	float: left;
}
ul {
	padding: 0;
	list-style: none;
}
ul li {
	padding: 0 10px;
	width: 100%;
	font-size: 16px;
	line-height: 37px;
	list-style: none;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	background: transparent url(arrow.png) 90% 50% no-repeat;
}
ul li:last-child {
	border-bottom: 0px;
}
.top, .bottom {
	background: -webkit-gradient(linear,left top, left bottom, from(#B2BBCC), to(#7283A0));
}
.top {
	height: auto;
	border-bottom: 1px solid #000;
	padding: .5em;
	position: relative;
}
.bottom {
	border-top: 1px solid #000;
	height: 40px;
}
h1, h2 {
	font-weight: bold;
	font-size: 1.5em;
	color: #414852;
	text-shadow: 1px 1px 1px #C4CBD8;
	text-align: center;
	padding: .5em;
}
.back {
	position: absolute;
	left: 6px;
	top: 10px;
}
.navigation {
	height: 30px;
	width: 35px;
	padding: 5px;
}
.previous {
	background: transparent url(back_button.png) center center no-repeat;
	float: left;
}
.next {
	background: transparent url(forward_button.png) center center no-repeat;
	float: right;
}
.current {
	float: left;
	text-align: center;
	width: 230px;
	padding: .4em 0;
}
.map {
	line-height: 0px;
}
.footer {
	background: #000;
	color: #fff;
	text-align: center;
	height: 23px;
	line-height: 23px;
}
.footer a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid;
}